.Carousel {
    margin-left: auto;
    margin-right: auto;
}

.custom-carousel {
    position: relative;
}

.custom-slide {
    display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
}
.slick-dots {
    bottom: 5px;
}

.slick-dots li button {
    width: 30px;
    height: 30px;
}
